*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    width: 100vw;
    height: 100vh;
    background : linear-gradient(white,#e4d9db) 
    
}


.logoo
{
    margin-top: 15px;
    margin-left: 15px;
    height: 25px;
    width: 130px;
}

.girl
{
    margin-top: 35px;
    width: 100vw;
}

.were
{
    margin-top: 15px;
    color: rgb(231, 140, 155);
    font-weight: lighter;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
/* h1{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
   
    
} */
.come
{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.soon
{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

p
{       margin-top:15px;  
    text-align: center;
    color: rgb(199, 156, 163);
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
}

.textbox
{

    
    margin-top: 15px;
    width: 250px;
    height: 40px;
    padding-left:16px;
    border:1px solid rgb(238, 157, 157);
    background-color: rgb(230, 218, 220);
    border-radius: 25px;
    border-width: thin;
    position: relative;
    left: 50px;
}

::placeholder
{
    color:rgb(230, 166, 166);

}
.btn
{
    position: absolute;
    left: 200px;
    top:15px;
    margin-left: 30px;
    background-color: rgb(230, 166, 166);
    width: 80px;
    height:40px;
    border-radius: 25px;
    border : 1px solid pink;
    color: white;
    
  
} 




.footer
{
    position: relative;
}


.deskImg1{
    display: none;
}

.para
{
    display: none;
}



@media screen and (min-width:1024px) {
    body{
        background-image: url(bg-pattern-desktop.svg);
    }

    .girl
    {
        display: none;
    }

 .deskImg1
 {
    width: 50vw;
    height: 100vh;
    display: block;
    float: right;
    margin-top: 5px;
    display: inline-block;
   
 }  
 .logoo{
    position: absolute;
    top: 50px;
    left:50px;
    display: inline-block;
}


.were
{

    color: rgb(231, 140, 155);
    font-weight: lighter;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 75px;
    top: 200px;
    display: inline-block;
}

.come
{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: absolute;
    top: 260px;
    left: 75px;
    display: inline-block;
}

.soon
{
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 75px;
    top: 300px;
    display: inline-block;
}
 
p
{
    display: none;
}

.para
{    
    
    

    color: rgb(199, 156, 163);
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 350px;
    left: 65px;
    display: inline-block;
    

}



.textbox
{

    
    
    width: 250px;
    height: 40px;
    padding-left:16px;
    border:1px solid rgb(238, 157, 157);
    background-color:white;

    border-radius: 25px;
    border-width: thin;
    position: absolute;
    top: 500px;
    left: 75px;
    display: inline-block;
}


.btn
{
    position: absolute;
    left: 225px;
    top:515px;
    background-color: rgb(230, 166, 166);
    width: 80px;
    height:40px;
    border-radius: 25px;
    border : 1px solid pink;
    color: white;
    
  
}
    
}